<head>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    
    <ul class="navbar-nav">
      <li class="nav-item">
        
          <a routerLink="status" class="nav-link" routerLinkActive="active">Status</a>
      </li>
      <li class="nav-item">
          <a routerLink="slot" class="nav-link" routerLinkActive="active">Request</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <br>
    <h2 style="text-align: center;">Appointment Booking System</h2>
    <hr>  
    <div class="card">
      <div class="card-body">
    
  <router-outlet></router-outlet>
      </div>
    </div>
  </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>